p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(240,240,240);
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: pink;
    width: 72px;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-button {
    height: 39px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-right: 10px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248,248,248);
}

.voice-icon {
    height: 24px;
}

.searchBar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.searchBar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 25px;
    width: 25px;
}

.ytApps-icon {
    height: 25px;
    width: 25px;
}

.notif-icon {
    height: 25px;
    width: 25px;
}

.channel-icon {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.thumbnail1 {
    width: 100%;
}

.title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.author,.stats {
    font-size: 12px;
    color: rgb(96,96,96);
}

.author {
    margin-bottom: 4px;
}

.video-preview2 {
    display: inline-block;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

